<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="YagiPro Logo"
    src="../assets/logo/mipmap-mdpi/logo.png"
  />
  <span>YagiPro</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Basics</h2>
  <p>Fill in your basic details for Yagi Uda antenna</p>

  <div class="card-container">

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>

  </div>





  <!-- Footer -->
  <footer>
  </footer>


</div>


<router-outlet></router-outlet>
