<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="YagiPro Logo"
    src="../assets/logo/mipmap-mdpi/logo.png"
  />
  <span>YagiPro</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Basics</h2>
  <p>Fill in your basic details for Yagi Uda antenna</p>


  <app-details-form class="injected-component-style" [(yagi)]="yagi" (yagiChange)="reCalculateYagi()"
                    (change)="reCalculateYagi()"></app-details-form>

  <app-yagi-table class="injected-component-style" [(yagi)]="yagi" [changeTrigger]="changeTrigger"></app-yagi-table>

  <app-yagi-model class="injected-component-style" [yagi]="yagi"></app-yagi-model>

  <!-- Footer -->
  <footer>
  </footer>


</div>


<router-outlet></router-outlet>
