<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="YagiPro Logo"
    src="../assets/logo/mipmap-mdpi/logo.png"
  />
  <span>YagiPro</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Basics</h2>
  <p>Fill in your basic details for Yagi Uda antenna</p>


  <app-details-form [(yagi)]="yagi" (change)="reCalculateYagi()" style="margin-top: 20px;"></app-details-form>



  boomLength: {{yagi.boomLength}}
  gain: {{yagi.gain}}


  <!-- Footer -->
  <footer>
  </footer>


</div>


<router-outlet></router-outlet>
