<mat-card>

  <div>
    <div class="center-element" style="width: 2%; height: 40px; background-color: #c2c3c4;"></div>
    <div class="center-element parasitic-element" style="width: 100%; height: 10px; background-color: #a2a3a4;"></div>
    <div class="center-element" style="width: 2%; height: 40px; background-color: #c2c3c4;"></div>
    <div class="center-element parasitic-element" style="width: 90%; height: 10px; background-color: #a2a3a4;"></div>
    <div class="center-element" style="width: 2%; height: 40px; background-color: #c2c3c4;"></div>
    <div class="center-element parasitic-element" style="width: 60%; height: 10px; background-color: #a2a3a4;"></div>
    <div class="center-element" style="width: 2%; height: 40px; background-color: #c2c3c4;"></div>
    <div class="center-element parasitic-element" style="width: 40%; height: 10px; background-color: #a2a3a4;"></div>
    <div class="center-element" style="width: 2%; height: 40px; background-color: #c2c3c4;"></div>
    <div class="center-element parasitic-element" style="width: 40%; height: 10px; background-color: #a2a3a4;"></div>
    <div class="center-element" style="width: 2%; height: 60px; background-color: #c2c3c4;"></div>
    <div class="center-element parasitic-element" style="width: 40%; height: 10px; background-color: #a2a3a4;"></div>
    <div class="center-element" style="width: 2%; height: 60px; background-color: #c2c3c4;"></div>
    <div class="center-element parasitic-element" style="width: 20%; height: 10px; background-color: #a2a3a4;"></div>
  </div>


</mat-card>
