.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-element {
  display: table;
  margin: 0 auto;
  border: 0.5px solid black;
}


.parasitic-element {
  border-radius: 10px;
}
